<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="content">
    
  <h2>Featured Playlists</h2>
  <div id="playlists">
    <div id="playlist-card">
      <img src="./assets/Imagenes/a.jpeg" alt="Playlist 1">
      <h3>Top Hits</h3>
    </div>
    <div id="playlist-card">
      <img src="./assets/Imagenes/b.jpeg" alt="Playlist 2">
      <h3>Chill Vibes</h3>
    </div>
    <div id="playlist-card">
      <img src="./assets/Imagenes/c.jpeg" alt="Playlist 2">
      <h3>Chill Vibes</h3>
    </div>
    <div id="playlist-card">
      <img src="./assets/Imagenes/d.jpeg" alt="Playlist 2">
      <h3>Chill Vibes</h3>
    </div>
    <div id="playlist-card">
      <img src="./assets/Imagenes/e.jpeg" alt="Playlist 2">
      <h3>Chill Vibes</h3>
    </div>
    <div id="playlist-card">
      <img src="./assets/Imagenes/f.jpeg" alt="Playlist 2">
      <h3>Chill Vibes</h3>
    </div>
    <div id="playlist-card">
      <img src="./assets/Imagenes/g.jpeg" alt="Playlist 2">
      <h3>Chill Vibes</h3>
    </div>
    <div id="playlist-card">
      <img src="./assets/Imagenes/h.jpeg" alt="Playlist 2">
      <h3>Chill Vibes</h3>
    </div>
    <div id="playlist-card">
      <img src="./assets/Imagenes/i.jpeg" alt="Playlist 2">
      <h3>Chill Vibes</h3>
    </div>
    <div id="playlist-card">
      <img src="./assets/Imagenes/j.jpeg" alt="Playlist 2">
      <h3>Chill Vibes</h3>
    </div>
    <div id="playlist-card">
      <img src="./assets/Imagenes/k.jpeg" alt="Playlist 2">
      <h3>Chill Vibes</h3>
    </div>
    <div id="playlist-card">
      <img src="./assets/Imagenes/l.jpeg" alt="Playlist 2">
      <h3>Chill Vibes</h3>
    </div>
    <div id="playlist-card">
      <img src="./assets/Imagenes/m.jpeg" alt="Playlist 2">
      <h3>Chill Vibes</h3>
    </div>
    <div id="playlist-card">
      <img src="./assets/Imagenes/n.jpeg" alt="Playlist 2">
      <h3>Chill Vibes</h3>
    </div>
    <div id="playlist-card">
      <img src="./assets/Imagenes/ñ.jpeg" alt="Playlist 2">
      <h3>Chill Vibes</h3>
    </div>
    <!-- Más tarjetas -->
     
  </div>
</div>




<div class="content">
    
   
    </div>

  