.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1db954;
    padding: 10px 10px;
    font-family: 'Poppins', sans-serif;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 700;
  }
  
  .nav-links a:hover {
    color: #ae9d9d;
    background: linear-gradient(45deg, #1db954, #1ed760);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 0.3s ease-in-out;
  }
  
  img{
    width: 80px;
  }