<div class="player-container">
  <!-- Encabezado con estado de música -->
  <div class="header">
    <span class="status">chill</span>
  </div>

  <!-- Imagen del álbum -->
  <div class="album-cover">
    <img src="./assets/Imagenes/A4.jpeg" alt="Album cover" />
  </div>

  <!-- Información de la canción -->
  <div class="song-info">
    <h2>Demasidas Mujeres</h2>
    <p>C. Tangana</p>
  </div>

  
  <div class="controls">
    <button class="control-button">🔀</button>
    <button class="control-button">⏮️</button>
    <button class="control-button">▶️</button>
    <button class="control-button">⏭️</button>
    <button class="control-button">🔁</button>
  </div>
</div>
