<div class="signup-container">
    <div class="signup-left">
      <img src="./assets/Imagenes/A1.jpeg" alt="Saxophone image" />
      <h1>Listening is everything.</h1>
      <p>Millions of songs and podcasts. No credit card needed.</p>
    </div>
  
    <div class="signup-right">
      <h2>Sign up for free</h2>
      <button class="facebook-signup">Sign up with Facebook</button>
  
      <div class="or-divider">
        <hr />
        <span>Or</span>
        <hr />
      </div>
  
      <form>
        <input type="email" placeholder="Enter your email" />
        <input type="password" placeholder="Create a password" />
        <div class="checkbox">
          <input type="checkbox" id="news" />
          <label for="news">Please send me news and offers from Spotify</label>
        </div>
        <p>
          By clicking on sign-up, you agree to Spotify's
          <a href="#">Terms and Conditions of Use</a>.
        </p>
        <p>
          To learn more about how Spotify collects, uses, shares and protects your
          personal data, please see <a href="#">Spotify's Privacy Policy</a>.
        </p>
        <button type="submit">Sign Up</button>
      </form>
  
      <p>Have an account? <a href="#">Log in</a></p>
    </div>
  </div>
  