/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Poppins', sans-serif;
  }
  .nav-links a:hover {
    color: #1db954;
    transition: color 0.3s ease-in-out;
  }
  .nav-links a {
    font-weight: 600; /* Más grueso */
  }
  
  .playlist-card h3 {
    font-weight: 400; /* Más ligero */
  }
  .nav-links a {
    font-size: 1.2rem; /* Tamaño relativo */
  }
  
  .playlist-card h3 {
    font-size: 1.1rem;
  }
  .playlist-card h3 {
    transition: transform 0.3s;
  }
  
  .playlist-card h3:hover {
    transform: scale(1.1);
  }
      